body {
    background-image: url("assets/bkg.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

#logo {
    display: block;
    margin: auto;
    margin-top: 4vh;
    width:200px;
}